@using kyfelib
@model IEnumerable<ContentModel>
@{
	ViewBag.Title = ViewBag.Title;
}

@section scripts {
	<script type="text/javascript">
		$(document).ready(function() {

		});
	</script>
}
			<h2>@ViewBag.Title </h2>
			<table id="articles" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Date </th>
						<th>Title </th>
						<th>Author </th>
						<th>Languages </th>
					</tr>
				</thead>
				<tbody>
					@if (Model.Any())
					{
						foreach (var con in Model)
						{
							var name = con.Locales.Any() ? con.Locales[0].Name : string.Empty;
							var author = con.Locales.Any() ? con.Locales[0].Author : string.Empty;
							var locales = con.Locales.Any() 
								? con.Locales.Select(l => Enum.GetName(typeof (Locale), l.Locale)).Aggregate((workingSet, next) => workingSet + " " + next) 
								: string.Empty;
							<tr>
								<td>@Html.ActionLink(con.Date.ToShortDateString(), "Index", new {id = con.Id})</td>
								<td>@name</td>
								<td>@author</td>
								<td>@locales</td>
							</tr>
						}
					}
					else
					{
						<tr>
							<td colspan="4">No articles</td>
						</tr>
					}
				</tbody>
			</table>
