@using kyfelib
@model ContentModel

@section scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$('#myTab a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
			$('#myTab a:first').tab('show');
		});
	</script>
}

<ul class="nav nav-tabs" id="langTab">
	@foreach (var con in Model.Locales)
 {
		<li><a href="#@con.Locale.ToString()" data-toggle="tab">@con.Locale.ToString()</a></li>
 }
</ul>
<div class="tab-content">
	@foreach (var con in Model.Locales)
 {
		<div class="tab-pane" id="@con.Locale.ToString()">
			<div>
				<h2>@con.Name</h2>
				<div>@Model.Date.ToShortDateString()</div>
				@Html.Raw(con.Text)
				<div>@con.Author</div>
			</div>
		</div>
 }
</div>
